@model IEnumerable<CourseOffering>

@{
    ViewData["Title"] = "SearchNoInstructors";
}

<h2>SearchNoInstructors</h2>
@if (Model.Count() == 0)
{
    <h4>No Course Offerings Without Instructors </h4>
}
else
{
    <table class="table">

        <thead>


            <tr>
                <td>CRN</td>
                <td>Course Name</td>
                <td>Course Number</td>
                <td>Department ID</td>
                <td>Department Name</td>
                <td>Course Day</td>
                <td>Start Time</td>
                <td>End Time</td>

            </tr>
        </thead>

        <tbody>
            @foreach (CourseOffering eachCourseOffering in Model)
            {

                <tr>
                    <td>@eachCourseOffering.CRN</td>
                    <td>@eachCourseOffering.Course.CourseName</td>
                    <td>@eachCourseOffering.Course.CourseNumber</td>
                    <td>@eachCourseOffering.Course.Department.DepartmentID</td>
                    <td>@eachCourseOffering.Course.Department.DepartmentName</td>
                    <td>@eachCourseOffering.Days</td>
                    <td>@eachCourseOffering.StartTime.ToShortTimeString()</td>
                    <td>@eachCourseOffering.EndTime.ToShortTimeString()</td>
                    <td><a asp-action="FindQualifiedInstructors" asp-route-id="@eachCourseOffering.CourseOfferingID">Find Qualified Instructors</a></td>



                </tr>

            }

        </tbody>

    </table>
}

