@model IEnumerable<Course>
@{
    ViewData["Title"] = "List of Courses";
}

<h2>List Of Courses</h2>

<table class="table">
    <thead>

        <tr>
            <td>Course ID</td>
            <td>Course Name</td>
            <td>Course Number</td>
            <td>Department ID</td>
            <td>Department Name</td>

        </tr>
    </thead>

    <tbody>
        @foreach (Course eachCourse in Model)

        {
        <tr>
            <td>@eachCourse.CourseID</td>
            <td>@eachCourse.CourseName</td>
            <td>@eachCourse.CourseNumber</td>
            <td>@eachCourse.DepartmentID</td>
            <td>@eachCourse.Department.DepartmentName</td>
        </tr>

        }
    </tbody>
</table>
